<!DOCTYPE html>
<html>
<head>
</head>

<body>


<h2>Exercises</h2>

<ul>
    <% results.forEach(function(r) { %>
        <li><%= r.name %></li>
    <% }); %>
</ul>

<form>
    Exercise name: <input type="text" name="exerciseName">
    <input type="submit" value="Add">
</form>

</body>
</html>