<!DOCTYPE html>
<html>
<head>
</head>

<body>


<h2>Input form</h2>

<form>
    Exercise name: <input type="text" name="exerciseName">
    <input type="submit" value="Submit">
</form>

</div>

</body>
</html>